##############################
# Filebeat Inputs
##############################
filebeat.inputs:
  - type: container
    enabled: true
    paths:
      - /var/lib/docker/containers/*/*.log

    processors:
      # Attach docker metadata (image, container name, labels)
      - add_docker_metadata: ~

      # Attach host metadata
      - add_host_metadata: ~

      # Decode JSON logs (LogstashEncoder output)
      - decode_json_fields:
          fields: ["message"]
          target: ""
          overwrite_keys: true

      # Avoid Filebeat reading its own logs
      - drop_event.when:
          equals:
            docker.container.name: "filebeat"


##############################
# Output to Elasticsearch
##############################
output.elasticsearch:
  hosts: ["http://elasticsearch:9200"]
  index: "filebeat-%{+yyyy.MM.dd}"


##############################
# Kibana Setup
##############################
setup.kibana:
  host: "kibana:5601"


##############################
# Template (mapping) settings
##############################
setup.template.enabled: true
setup.template.name: "filebeat"
setup.template.pattern: "filebeat-*"


##############################
# General Processors
##############################
processors:
  - add_cloud_metadata: ~
  - add_locale: ~
