global:
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: 'sarfarazalam1825@gmail.com'
  smtp_auth_username: 'sarfarazalam1825@gmail.com'
  smtp_auth_password: 'ccscixhkbfdtqzcy'   # <-- Replace later with Gmail App Password

route:
  group_by: ['alertname', 'env']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 2h
  receiver: email-warnings

  routes:
    - matchers:
        - severity="critical"
      receiver: email-critical
      mute_time_intervals: ['nightly-maint']

receivers:
  - name: email-warnings
    email_configs:
      - to: 'sarfarazalamcool78692@gmail.com'
        send_resolved: true
        html: '{{ template "email.default.html" . }}'

  - name: email-critical
    email_configs:
      - to: 'sarfarazalamcool78692@gmail.com'
        send_resolved: true
        html: '{{ template "email.default.html" . }}'

inhibit_rules:
  - source_matchers: ['alertname="ServiceDown"', 'application="ROOMBILLZ-EUREKA-SERVER"']
    target_matchers: ['alertname="ServiceDown"']
    equal: ['env']

time_intervals:
  - name: nightly-maint
    time_intervals:
      - times:
          - start_time: '01:00'
            end_time: '02:00'
        weekdays: ['monday:friday','saturday','sunday']

templates:
  - '/etc/alertmanager/email-template.tmpl'
